

.copy_success_message{
    padding: 5px;
    text-align: center;
    margin: auto;
    width: 200px;
    height: 20px;
    font-size: 12px;
    background: radial-gradient(66.08% 57.19% at 64.55% 0%, rgba(170, 26, 23, 0.30) 0%, rgba(170, 26, 23, 0.00) 100%), #010A16;
    border: 1px solid rgba(114, 122, 132, 0.10);
    border-radius: 5px;
    position: block;
}